<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobi.core">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>

        <provider
            android:name=".db.AdProvider"
            android:authorities="com.mobi.core.db.AdProvider" />
    </application>

</manifest>